#Sets the proxy to use. Supports SOCKS5 and SOCKS4. Leave empty for no proxy
#Must be put in ip:port format. ex: proxy=128.201.119.251:999
proxy=
#Sets the username and password for the proxy. Leave empty for no authentication
proxyUsername=
proxyPassword=
#Sets the prefix for commands to be used
commandPrefix=!
#Sets whether or not to send chat messages in GreenText
greenText=true
#Sets whether or not to print with color in the console
consoleColor=true
#Sets the locale for the ServerBoundClientSettings packet https://minecraft.fandom.com/wiki/Language
locale=en_us
#Sets whether or not to allow the bot to be seen in server's player listing
allowServerListing=true
#Sets whether or not to reconnect on disconnection
reconnect=true
#Sets the delay for reconnecting (in seconds)
reconnectDelay=5
#Sets whether or not to attempt AntiAFK (swings hand and moves head)
antiAFK=true
#Sets the delay for AntiAFK to activate (in seconds)
antiAFKDelay=60
#Sets the amount of time between KeepAlive packets before closing the connection amd reconnecting if enabled (in seconds)
keepAliveCheckTime=60
#Sets the protocol version when connecting to servers (AKA the client version. 758 = 1.18.2, 757 - 1.18.1, etc)
protocolVersion=758
#Sets the delay between sending announcements (in seconds) (set to 0 to turn off)
announcementDelay=300
#Sets the delay between sending messages (in milliseconds. 1000 = 1 second)
messageDelay=1500
#Sets whether or not to do /login or /password on cracked servers
crackedLogin=true
#Sets the password to use for cracked login
crackedLoginPassword=12ChatBot34!
#Path to file containing the login information
loginFile=login.txt
#Sets the account type. MSA for Microsoft and MOJ for Mojang/Cracked
accountType=MSA